<a href="https://colab.research.google.com/github/kirsten-fung/project_voting/blob/main/voting_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [39]:
! git clone https://github.com/kirsten-fung/project_voting

fatal: destination path 'project_voting' already exists and is not an empty directory.

In [40]:
import pandas as pd
import numpy as np

In [41]:
df = pd.read_csv('/content/project_voting/data/county_data/0002_ds249_20205_county_E.csv',sep=',',encoding='latin-1')
print(df)

                  GISJOIN            YEAR                     STUSAB  \
0     GIS Join Match Code  Data File Year  State Postal Abbreviation
1                G0100010       2016-2020                         AL
2                G0100030       2016-2020                         AL
3                G0100050       2016-2020                         AL
4                G0100070       2016-2020                         AL
...                   ...             ...                        ...
3217             G7201450       2016-2020                         PR
3218             G7201470       2016-2020                         PR
3219             G7201490       2016-2020                         PR
3220             G7201510       2016-2020                         PR
3221             G7201530       2016-2020                         PR

          REGIONA      DIVISIONA        STATE      STATEA  \
0     Region Code  Division Code   State Name  State Code
1             NaN            NaN      Alabama          01
2             NaN            NaN      Alabama          01
3             NaN            NaN      Alabama          01
4             NaN            NaN      Alabama          01
...           ...            ...          ...         ...
3217          NaN            NaN  Puerto Rico          72
3218          NaN            NaN  Puerto Rico          72
3219          NaN            NaN  Puerto Rico          72
3220          NaN            NaN  Puerto Rico          72
3221          NaN            NaN  Puerto Rico          72

                   COUNTY      COUNTYA                  COUSUBA  ...  \
0             County Name  County Code  County Subdivision Code  ...
1          Autauga County          001                      NaN  ...
2          Baldwin County          003                      NaN  ...
3          Barbour County          005                      NaN  ...
4             Bibb County          007                      NaN  ...
...                   ...          ...                      ...  ...
3217  Vega Baja Municipio          145                      NaN  ...
3218    Vieques Municipio          147                      NaN  ...
3219   Villalba Municipio          149                      NaN  ...
3220    Yabucoa Municipio          151                      NaN  ...
3221      Yauco Municipio          153                      NaN  ...

                                               AMWSE004  \
0     With an Internet subscription: Broadband of an...
1                                                 17831
2                                                 71498
3                                                  6025
4                                                  5526
...                                                 ...
3217                                               9225
3218                                               1640
3219                                               5712
3220                                               7734
3221                                               5743

                                               AMWSE005  \
0     With an Internet subscription: Cellular data plan
1                                                 15390
2                                                 65644
3                                                  5351
4                                                  5074
...                                                 ...
3217                                               8620
3218                                               1544
3219                                               5483
3220                                               7248
3221                                               4675

                                               AMWSE006  \
0     With an Internet subscription: Cellular data p...
1                                                  2666
2                                                 13937
3                                                  1800
4                                                  1889
...                                                 ...
3217                                               2767
3218                                               1102
3219                                               2796
3220                                               4088
3221                                               1692

                                               AMWSE007  \
0     With an Internet subscription: Broadband such ...
1                                                 13780
2                                                 53139
3                                                  3620
4                                                  2669
...                                                 ...
3217                                               5726
3218                                                411
3219                                               2535
3220                                               2255
3221                                               3232

                                               AMWSE008  \
0     With an Internet subscription: Broadband such ...
1                                                  2004
2                                                  4634
3                                                   547
4                                                   307
...                                                 ...
3217                                                437
3218                                                 74
3219                                                182
3220                                                303
3221                                                890

                                               AMWSE009  \
0     With an Internet subscription: Satellite Inter...
1                                                  1695
2                                                  8874
3                                                   933
4                                                  1182
...                                                 ...
3217                                               1572
3218                                                189
3219                                                347
3220                                               1588
3221                                                279

                                               AMWSE010  \
0     With an Internet subscription: Satellite Inter...
1                                                   349
2                                                   788
3                                                    79
4                                                   142
...                                                 ...
3217                                                119
3218                                                  0
3219                                                 26
3220                                                143
3221                                                 71

                                               AMWSE011  \
0     With an Internet subscription: Other service w...
1                                                    57
2                                                     0
3                                                     0
4                                                     0
...                                                 ...
3217                                                 17
3218                                                  0
3219                                                  0
3220                                                  0
3221                                                  0

                                    AMWSE012            AMWSE013
0     Internet access without a subscription  No Internet access
1                                        402                3307
2                                       2149               10018
3                                        563                2700
4                                        210                1520
...                                      ...                 ...
3217                                     277                9794
3218                                      16                 738
3219                                     190                1987
3220                                      51                3865
3221                                     303                4734

[3222 rows x 992 columns]

<ipython-input-41-470925fadf60>:1: DtypeWarning: Columns (3,4,6,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,557,558,559,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,595,596,597,598,599,600,601,602,603,604,605,606,607,608,609,610,611,612,613,614,615,616,617,618,619,620,621,622,623,624,625,626,627,628,629,630,631,632,633,634,635,636,637,638,639,640,641,642,643,644,645,646,647,648,649,650,651,652,653,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,679,680,681,682,683,684,685,686,687,688,689,690,691,692,693,694,695,696,697,698,699,700,701,702,703,704,705,706,707,708,709,710,711,712,713,714,715,716,717,718,719,720,721,722,723,724,725,726,727,728,729,730,731,732,733,734,735,736,737,738,739,740,741,742,743,744,745,746,747,748,749,750,751,752,753,754,755,756,757,758,759,760,761,762,763,764,765,766,767,768,769,770,771,772,773,774,775,776,777,778,779,780,781,782,783,784,785,786,787,788,789,790,791,792,793,794,795,796,797,798,799,800,801,802,803,804,805,806,807,808,810,811,812,813,814,815,816,817,818,819,820,821,822,823,824,825,826,827,828,829,830,831,832,833,834,835,836,837,838,839,840,841,842,843,844,845,846,847,848,849,850,851,852,853,854,855,856,857,858,859,860,861,862,863,864,865,866,867,868,869,870,871,872,873,874,875,876,877,878,879,880,881,882,883,884,885,886,887,888,889,890,891,892,893,894,895,896,897,898,899,900,901,902,903,904,905,906,907,908,909,910,911,912,913,914,915,916,917,918,919,920,921,922,923,924,925,926,927,928,929,930,931,932,933,934,935,936,937,938,939,940,941,942,943,944,945,946,947,948,949,950,951,952,953,954,955,956,957,958,959,960,961,962,963,964,965,966,967,968,969,970,971,972,973,974,975,976,977,978,979,980,981,982,983,984,985,986,987,988,989,990,991) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/content/project_voting/data/county_data/0002_ds249_20205_county_E.csv',sep=',',encoding='latin-1')

In [42]:
df = pd.read_csv('/content/project_voting/data/county_data/0002_ds176_20105_county_E.csv',sep=',',encoding='latin-1')
print(df)

                  GISJOIN            YEAR                     STUSAB  \
0     GIS Join Match Code  Data File Year  State Postal Abbreviation
1                G0100010       2006-2010                         AL
2                G0100030       2006-2010                         AL
3                G0100050       2006-2010                         AL
4                G0100070       2006-2010                         AL
...                   ...             ...                        ...
3217             G7201450       2006-2010                         PR
3218             G7201470       2006-2010                         PR
3219             G7201490       2006-2010                         PR
3220             G7201510       2006-2010                         PR
3221             G7201530       2006-2010                         PR

          REGIONA      DIVISIONA        STATE      STATEA  \
0     Region Code  Division Code   State Name  State Code
1             NaN            NaN      Alabama          01
2             NaN            NaN      Alabama          01
3             NaN            NaN      Alabama          01
4             NaN            NaN      Alabama          01
...           ...            ...          ...         ...
3217          NaN            NaN  Puerto Rico          72
3218          NaN            NaN  Puerto Rico          72
3219          NaN            NaN  Puerto Rico          72
3220          NaN            NaN  Puerto Rico          72
3221          NaN            NaN  Puerto Rico          72

                   COUNTY      COUNTYA                  COUSUBA  ...  \
0             County Name  County Code  County Subdivision Code  ...
1          Autauga County          001                      NaN  ...
2          Baldwin County          003                      NaN  ...
3          Barbour County          005                      NaN  ...
4             Bibb County          007                      NaN  ...
...                   ...          ...                      ...  ...
3217  Vega Baja Municipio          145                      NaN  ...
3218    Vieques Municipio          147                      NaN  ...
3219   Villalba Municipio          149                      NaN  ...
3220    Yabucoa Municipio          151                      NaN  ...
3221      Yauco Municipio          153                      NaN  ...

                 JSDE003             JSDE004             JSDE005  \
0     Built 2000 to 2004  Built 1990 to 1999  Built 1980 to 1989
1                   2946                5142                3582
2                  22743               28796               16210
3                    493                2669                2412
4                    381                2202                1452
...                  ...                 ...                 ...
3217                1187                3763                5954
3218                  72                1132                 869
3219                 488                1586                2308
3220                 494                2994                2714
3221                 744                2742                4289

                 JSDE006             JSDE007             JSDE008  \
0     Built 1970 to 1979  Built 1960 to 1969  Built 1950 to 1959
1                   3542                2626                 931
2                  11233                5768                3516
3                   2095                1496                 966
4                   1591                1226                 673
...                  ...                 ...                 ...
3217                5714                2916                1640
3218                 875                 793                 470
3219                1883                1237                 571
3220                3076                2376                1288
3221                4452                2803                1100

                 JSDE009                JSDE010            JS5E001  \
0     Built 1940 to 1949  Built 1939 or earlier  Median gross rent
1                    235                    641                769
2                   1678                   2541                821
3                    573                   1055                512
4                    263                    890                541
...                  ...                    ...                ...
3217                 945                    305              508.0
3218                 110                     53              353.0
3219                 185                    171              257.0
3220                 404                    554              356.0
3221                 589                    533              371.0

                     JTIE001
0     Median value (dollars)
1                     133900
2                     177200
3                      88200
4                      81200
...                      ...
3217                  109900
3218                  115700
3219                   94300
3220                   90800
3221                   87800

[3222 rows x 272 columns]

<ipython-input-42-698ee415b1bb>:1: DtypeWarning: Columns (3,4,6,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/content/project_voting/data/county_data/0002_ds176_20105_county_E.csv',sep=',',encoding='latin-1')

In [43]:
df.columns

Index(['GISJOIN', 'YEAR', 'STUSAB', 'REGIONA', 'DIVISIONA', 'STATE', 'STATEA',
       'COUNTY', 'COUNTYA', 'COUSUBA',
       ...
       'JSDE003', 'JSDE004', 'JSDE005', 'JSDE006', 'JSDE007', 'JSDE008',
       'JSDE009', 'JSDE010', 'JS5E001', 'JTIE001'],
      dtype='object', length=272)

In [44]:
df.shape

(3222, 272)

**Dropping columns**

In [45]:
# empty columns are not needed in our data set
df.drop(columns=['REGIONA','DIVISIONA','COUSUBA','PLACEA','TRACTA','BLKGRPA','CONCITA','AIANHHA','RES_ONLYA','TRUSTA','AIHHTLI','AITSCEA','ANRCA','CBSAA','CSAA','METDIVA','NECTAA','CNECTAA','NECTADIVA','UAA','CDCURRA','SLDUA','SLDLA','SUBMCDA','SDELMA','SDSECA','SDUNIA','PCI','PUMAA','BTTRA','BTBGA',], inplace=True)

**Renaming columns**

In [46]:
# replace current column names with the description below (easier to understand)
for col in df.columns:
    new_name = df[col].iloc[0]
    df.rename(columns={col: new_name}, inplace=True)

# drop the first row
df = df.drop(0)
df.reset_index(drop=True, inplace=True)

print(df.head())

  GIS Join Match Code Data File Year State Postal Abbreviation State Name  \
0            G0100010      2006-2010                        AL    Alabama
1            G0100030      2006-2010                        AL    Alabama
2            G0100050      2006-2010                        AL    Alabama
3            G0100070      2006-2010                        AL    Alabama
4            G0100090      2006-2010                        AL    Alabama

  State Code     County Name County Code Geographic Identifier  \
0         01  Autauga County         001          05000US01001
1         01  Baldwin County         003          05000US01003
2         01  Barbour County         005          05000US01005
3         01     Bibb County         007          05000US01007
4         01   Blount County         009          05000US01009

                 Area Name   Total  ... Built 2000 to 2004 Built 1990 to 1999  \
0  Autauga County, Alabama   53155  ...               2946               5142
1  Baldwin County, Alabama  175791  ...              22743              28796
2  Barbour County, Alabama   27699  ...                493               2669
3     Bibb County, Alabama   22610  ...                381               2202
4   Blount County, Alabama   56692  ...               2366               5520

  Built 1980 to 1989 Built 1970 to 1979 Built 1960 to 1969 Built 1950 to 1959  \
0               3582               3542               2626                931
1              16210              11233               5768               3516
2               2412               2095               1496                966
3               1452               1591               1226                673
4               4054               4169               2335               1482

  Built 1940 to 1949 Built 1939 or earlier Median gross rent  \
0                235                   641               769
1               1678                  2541               821
2                573                  1055               512
3                263                   890               541
4               1032                  1313               574

  Median value (dollars)
0                 133900
1                 177200
2                  88200
3                  81200
4                 113700

[5 rows x 241 columns]

In [47]:
df.shape

(3221, 241)

**Checking for null**
* dropped all null values because there were only 3 rows with null is expected to not significantly affect the analysis

In [48]:
df_cleaned = df.dropna()
df_cleaned.shape

(3218, 241)

In [49]:
if df_cleaned.isnull().values.any():
    print("null present")
else:
    print("no null")

no null

**Create new csv**

In [50]:
df_cleaned.to_csv('cleandf.csv', index=False)